<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>	
		<add key="qBisHostAddress" value="localhost" />
		<add key="qBisPort" value="8844" />
		<add key="x509CertificatePath" value="QBisClient.pfx" />
		<add key="qBisHostName" value="QBis Server" />	
	</appSettings>
</configuration>
